@page "/counter"
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>
<br />



<br />


@functions {

    private string Name { get; set; } = "Sss";

    private string Message { get; set; }

    int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += 1;
        Name = "223";
        StateHasChanged();
    }
}
